{% extends 'base.html.twig' %}

{% block title %}
    Swan Form Demo
{% endblock %}

{% block body %}
<div class='container'>
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add contact</h3>
    </div>
    <div class="panel-body">
        <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="txtName" placeholder="Enter name">
            <div class='validation-message alert alert-danger' data-field='name'><ul></ul></div> 
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="emailEmail" placeholder="Enter email address">
            <div class='validation-message alert alert-danger' data-field='email'><ul></ul></div>
        </div>  
        <div class="form-group">
            <label for="exampleInputEmail1">Phone</label>
            <input type="text" class="form-control" id="txtPhone" placeholder="Enter phone">
            <div class='validation-message alert alert-danger' data-field='phone'><ul></ul></div>
        </div>
        <button type="submit" id='btnSubmit' class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
<style>
    .validation-message {
        display:none;
        margin-top:5px;
    }
</style>

{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function() {
    $('#btnSubmit').on('click', function(e) {
        e.preventDefault();

        var name = $('#txtName').val();
        var email = $('#emailEmail').val();
        var phone = $('#txtPhone').val();
        $.ajax({
            url: '/contact/post',
            method: 'POST',
            data: {'name': name, 'email': email, 'phone': phone}
        }).done(function(data) {
            handleResponse(data);
        });
    });

});

function handleResponse(response) {    
    $(".validation-message ul").empty();
    $(".validation-message").hide();
    if (response.id == null) {
        for (field in response.messages) {
            var validationField = $(".validation-message[data-field='" + field + "']");
            validationField.show();
            $.each(response.messages[field], function(key) {
                validationField.find("ul").append("<li>" + response.messages[field][key] + "</li>");
            });
        }
    } else {        
        $("#txtName").val("");
        $("#emailEmail").val("");
        $("#txtPhone").val("");
        alert("Contact has been added with ID " + response.id + ". \r\n Add another....");
    }
}
</script>

{% endblock %}